<!DOCTYPE html> {% load static%}
<html>
<script type="text/javascript">
    window["_gaUserPrefs"] = {
        ioo: function() {
            return true;
        }
    }
</script>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="{% static 'dolipieapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dolipieapp/css/css' %}">
    <link rel="stylesheet" href="{% static 'dolipieapp/css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'dolipieapp/css/material-icons.min.css' %}">
    <link rel="stylesheet" crossorigin="anonymous" href="{% static 'dolipieapp/css/main.css' %}">
    <style type="text/css">
        /* Chart.js */
        
        @keyframes chartjs-render-animation {
            from {
                opacity: .99
            }
            to {
                opacity: 1
            }
        }
        
        .chartjs-render-monitor {
            animation: chartjs-render-animation 1ms
        }
        
        .chartjs-size-monitor,
        .chartjs-size-monitor-expand,
        .chartjs-size-monitor-shrink {
            position: absolute;
            direction: ltr;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1
        }
        
        .chartjs-size-monitor-expand>div {
            position: absolute;
            width: 1000000px;
            height: 1000000px;
            left: 0;
            top: 0
        }
        
        .chartjs-size-monitor-shrink>div {
            position: absolute;
            width: 200%;
            height: 200%;
            left: 0;
            top: 0
        }
    </style>
    <style type="text/css"></style>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="http://127.0.0.1:8000/#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="material-icons">assessment</i></div>
                    <div class="sidebar-brand-text mx-3"><span>Dolipie</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="http://127.0.0.1:8000/blank.html"><i class="fas fa-window-maximize"></i><span>Blank Page</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline">
                    <button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid">
                        <button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="http://127.0.0.1:8000/#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group">
                                            <input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                            </li>
                            <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="http://127.0.0.1:8000/#"><span class="badge badge-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu">
                                    <h6 class="dropdown-header">alerts center</h6>
                                    <a class="d-flex align-items-center dropdown-item" href="http://127.0.0.1:8000/#">
                                        <div class="mr-3">
                                            <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 12, 2019</span>
                                            <p>A new monthly report is ready to download!</p>
                                        </div>
                                    </a>
                                    <a class="d-flex align-items-center dropdown-item" href="http://127.0.0.1:8000/#">
                                        <div class="mr-3">
                                            <div class="bg-success icon-circle"><i class="fas fa-donate text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 7, 2019</span>
                                            <p>$290.29 has been deposited into your account!</p>
                                        </div>
                                    </a>
                                    <a class="d-flex align-items-center dropdown-item" href="http://127.0.0.1:8000/#">
                                        <div class="mr-3">
                                            <div class="bg-warning icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                        </div>
                                        <div><span class="small text-gray-500">December 2, 2019</span>
                                            <p>Spending Alert: We've noticed unusually high spending for your account.</p>
                                        </div>
                                    </a><a class="text-center dropdown-item small text-gray-500" href="http://127.0.0.1:8000/#">Show All Alerts</a></div>
                            </li>

                            <li class="nav-item dropdown no-arrow mx-1" role="presentation">
                            </li>
                            <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="http://127.0.0.1:8000/#"><i class="fas fa-envelope fa-fw"></i><span class="badge badge-danger badge-counter">7</span></a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in" role="menu">
                                    <h6 class="dropdown-header">alerts center</h6>
                                    <a class="d-flex align-items-center dropdown-item" href="http://127.0.0.1:8000/#">
                                        <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="{% static 'dolipieapp/images/avatar4.jpeg' %}">
                                            <div class="bg-success status-indicator"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                            <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                        </div>
                                    </a>
                                    <a class="d-flex align-items-center dropdown-item" href="http://127.0.0.1:8000/#">
                                        <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="{% static 'dolipieapp/images/avatar2.jpeg' %}">
                                            <div class="status-indicator"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                            <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                        </div>
                                    </a>
                                    <a class="d-flex align-items-center dropdown-item" href="http://127.0.0.1:8000/#">
                                        <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="{% static 'dolipieapp/images/avatar3.jpeg' %}">
                                            <div class="bg-warning status-indicator"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                            <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                        </div>
                                    </a>
                                    <a class="d-flex align-items-center dropdown-item" href="http://127.0.0.1:8000/#">
                                        <div class="dropdown-list-image mr-3"><img class="rounded-circle" src="{% static 'dolipieapp/images/avatar5.jpeg' %}">
                                            <div class="bg-success status-indicator"></div>
                                        </div>
                                        <div class="font-weight-bold">
                                            <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                            <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                        </div>
                                    </a><a class="text-center dropdown-item small text-gray-500" href="http://127.0.0.1:8000/#">Show All Alerts</a></div>
                            </li>
                            <div class="shadow dropdown-list dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown"></div>

                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                            </li>
                            <li class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="http://127.0.0.1:8000/#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Valerie Luna</span><img class="border rounded-circle img-profile" src="{% static 'dolipieapp/images/avatar1.jpeg' %}"></a>
                                <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="http://127.0.0.1:8000/#"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Profile</a>
                                    <a class="dropdown-item" role="presentation" href="http://127.0.0.1:8000/#"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                    <a class="dropdown-item" role="presentation" href="http://127.0.0.1:8000/#"><i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Activity log</a>
                                    <div class="dropdown-divider"></div><a class="dropdown-item" role="presentation" href="http://127.0.0.1:8000/#"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                            </li>

                        </ul>
                    </div>
                </nav>
                <div class="container-fluid">
                    <h3 class="text-dark mb-1">Nombre de Factures Par mois</h3>
                </div>
                <div>
                    <!-- chart is here -->
                    <canvas id="myChart" width="400vw" height="400vw"></canvas>
                    <canvas id="myChart1" width="400vw" height="400vw"></canvas>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>@dayofmythology</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="http://127.0.0.1:8000/#page-top" style="display: none;"><i class="fas fa-angle-up"></i></a></div>
    <script src="{% static 'dolipieapp/js/jquery-3.3.1.min.js.download' %}"></script>
    <script src="{% static 'dolipieapp/js/bootstrap.min.js.download' %}"></script>
    <script src="{% static 'dolipieapp/js/chart.min.js.download' %}"></script>
    <script src="{% static 'dolipieapp/js/bs-charts.js.download' %}"></script>
    <script src="{% static 'dolipieapp/js/jquery.easing.js.download' %}"></script>
    <script src="{% static 'dolipieapp/js/theme.js.download' %}"></script>
    <script src="{% static 'dolipieapp/js/drawchart.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script id="bs-live-reload" data-sseport="56985" data-lastchange="1573652851461" src="{% static 'dolipieapp/js/livereload.js.download' %}"></script>
    
    <script type='text/javascript'>
        function loadScript( url, callback ) {
            var script = document.createElement( "script" )
            script.type = "text/javascript";
            script.onload = function() {
                callback();
            };
            script.src = url;
            document.getElementsByTagName( "head" )[0].appendChild( script );
        }

        // call the function...
        loadScript(pathtoscript, function() {
            alert('script ready!'); 
        });

            
        chartIt();
    </script>
</body>

</html>